
#heading{
    background-color: #8469A8;
    border: 1px solid white;
    padding: 20px 5px;
    margin: auto;
    width: 50%;
}

#rest{
    background-color: #F3F3F3;
    padding-top: 20px;
    width: 50%;
    border: 1px solid white;
    margin: auto;
}


